<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-970887-21"></script>
  <script>window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments)}; gtag("js", new Date()); gtag("set", "developer_id.dMDhkMT", true); gtag("config", "UA-970887-21", {"groups": "default", "anonymize_ip": true, "page_placeholder": "PLACEHOLDER_page_path"});</script>
  <link rel="canonical" href="#" />
  <meta name="description"
    content="The go-to source for information on SR 520 construction and closures." />

  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="favicon.ico" />
  <link rel="icon" href="img/dot.ico" type="image/vnd.microsoft.icon" />
  <!-- <script src="/sites/default/files/google_tag/gtm_kjkscvk/google_tag.script.js?rtoq0t" defer></script> -->

  <title>SR 520 Construction | WSDOT</title>


  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
   <link rel="stylesheet" media="all" href="/css/styles2.css" />
  <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" media="all" href="/css/styles2.css" />
  <!-- <link rel="stylesheet" media="all" href="/css/styles3.css" /> -->
  <link rel="stylesheet" media="all"
  href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&amp;display=swap" />
  <link rel="stylesheet" media="all" href="/css/stylesheet-override2.css" />

      <!-- --- Font Awesome --- -->
      <link rel="stylesheet" href="https://kit.fontawesome.com/56475f5c73.css" crossorigin="anonymous">


<style>
 .navbar a {
  text-decoration: none !important;
 }

 .sg-button-bar {
  align-items: left;
  justify-content: left;
  float: left;
  margin-left: 3%;
 }
</style>
</head>

  <body>
    
    <%- include('partials/header') %>

    <!-- #### END NAV section ##### --> 
          <main class="contact-main" >


            <div class="container-fluid">   
              
              <h1>Contact us</h1>

              <div class="row">
                <div class="col-lg-10 col-sm-12">
                    <!-- <div class="col-md-8 col-left"> -->
                        <div class="contact-article">
                          <span class="contact-h3">
                            <i class="fa fa-solid fa-2xl fa-phone"></i><h3>Call us</h3>
                          </span>
                          <div>
                            <p>
                              For questions about closures or construction activities, call our 24-hr project construction hotlines:
                            </p>
                            <ul class="contact-list">
                              <li>Montlake Project construction: <a href="tel:2067758885" aria-label="tel:2067758885">206-775-8885</a> (24-hr / call or text)</li>
                              <li>SR 520/I-5 Connection Project construction: <a href="tel:2063162559" aria-label="tel:2063162559">206-316-2559</a> (24-hr / call or text)</li>
                              <li>SR 520 Program info line: <a href="tel:2062009484" aria-label="tel:2062009484">206-200-9484 </a> (8 a.m. – 5 p.m., Monday – Friday)</li>
                              <li>Community Liaison and Ombudsman, David Goldberg: <a href="tel:2024127930" aria-label="tel:2024127930">202-412-7930</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="contact-article">
                          <span class="contact-h3">
                            <i class="fa fa-solid fa-pencil fa-2xl"></i>                                
                            <h3>Write us</h3>
                          </span>
                          <!-- <div class="comment-form-container"> -->
                            <div style="margin-top: -25px;">
                            <!-- <form method="post">
                              <div class="form-group">
                                <label for="comment-form-area">Comment form</label>
                                <textarea class="form-control" id="comment-form-area" rows="8"></textarea>
                              </div>
                              <button type="submit" class="btn btn-primary btn-custom">Submit</button>
                            </form> -->
                            <div class="writeus-box" style="align-items: left;">
                              <script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://survey.alchemer.com/s3/7407183/520-Contact-Page?__no_style=true&__output=embedjs&__ref=' + escape(document.location.href) + '" type="text/javascript" ></scr' + 'ipt>');</script><noscript>Alchemer - <a href="https://www.alchemer.com/plans-pricing/">Survey software</a> for teams. <a href="https://survey.alchemer.com/s3/7407183/520-Contact-Page?__no_style=true&?jsfallback=true">Please take my survey now</a></noscript><style>.sg-survey{display:none; }</style>
                            </div>
                         <p></p>
                          </div>
                        </div>
                        <div class="contact-article">
                          <span class="contact-h3">
                            <i class="fa fa-2xl fa-envelope"></i>
                            <h3>Email us</h3>
                          </span>
                          <div>
                            <ul class="contact-list">
                              <li>General SR 520 inbox: <a href="mailto:SR520bridge@wsdot.wa.gov" aria-label="Email: SR520bridge@wsdot.wa.gov">SR520bridge@wsdot.wa.gov</a></li>
                              <li>Ombudsman: <a href="mailto:david.goldberg@wsdot.wa.gov" aria-label="Email: david.goldberg@wsdot.wa.gov">david.goldberg@wsdot.wa.gov</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="contact-article">
                          <span class="contact-h3">
                            <i class="fa fa-solid fa-mailbox-flag-up fa-2xl"></i>                               
                             <h3>Mail us</h3>
                          </span>
                          <div>
                            <ul class="contact-list mail-list">
                              <li>SR 520 Bridge Replacement and HOV Program</li>
                              <li>999 Third Ave., Suite 2300</li>
                              <li>Seattle, WA 98104</li>
                            </ul>
                          </div>
                        </div>
                        <div class="contact-article">
                          <span class="contact-h3">
                            <i class="fa fa-solid fa-cloud-exclamation fa-2xl"></i>                                
                            <h3>Follow us</h3>
                          </span>
                          <div>
                            <ul class="contact-list social-media-list list-unstyled">
                              <li><i class="fa fa-md fa-twitter"></i><a target="_blank" href="https://twitter.com/wsdot_520">Twitter</a></li>
                              <li><i class="fa fa-md fa-instagram"></i><a target="_blank" href="https://www.instagram.com/wsdot/">Instagram</a></li>
                              <li><i class="fa fa-md fa-youtube"></i><a target="_blank" href="https://www.youtube.com/playlist?list=PLEvVhy_eoUuDlR31tXgXNYbNKFhZ5k0p_">YouTube</a></li>
                              <li><i class="fa fa-md fa-flickr"></i><a target="_blank" href="https://www.flickr.com/photos/wsdot/collections/72157626070884650/">Flickr</a></li>
                              <li> <i class="fa-brands fa-tiktok" style="color: darkgreen"></i><a target="_blank" href="https://www.tiktok.com/@washingtonstatedot?lang=en">TikTok</a></li>


                             </i>
                              <!-- <li><i class="fa fa-md fa-envelope"></i><a target="_blank" href="https://public.govdelivery.com/accounts/WADOT/subscriber/new?topic_id=WADOT_68">Sign up for our email newsletter</a></li> -->
                            </ul>
                          </div>
                        </div>
                        <div class="contact-article">
                          <span class="contact-h3">
                            <i class="fa fa-solid fa-paper-plane fa-2xl"></i>                               
                            <h3>Sign up for our newsletter</h3>
                          </span>
                          <div>
                            <p style="margin-left: 2%">
                              We regularly send subscribers email updates with the 
                              latest news about current or upcoming construction activities. 
                              <!-- Visit the <a href="https://public.govdelivery.com/accounts/WADOT/subscriber/new?topic_id=WADOT_68" aria-label="" target="_blank">WSDOT email updates page</a>, enter your email address, 
                              and under "Construction, Planning & Projects," open "Projects," 
                              then select one or both of the following: -->
                            </p>
                            <p style="margin-left: 7%">
                                                             <!-- <span class="li-lead"> -->
                                <a
                                href="https://public.govdelivery.com/accounts/WADOT/subscriber/new?topic_id=WADOT_68"
                                class="btn btn-primary parallelogram-link-sm mt-3" target="_blank"
                                >Program News sign-up</a
                              >  </p>
                            <!-- </span> -->
                                <p>Periodic updates on the entire program. Includes information on highway closures, construction milestones, and upcoming major public meetings.</p>
                            
                                <p style="margin-left: 7%">
                                <span class="li-lead">      <a
                                  href="https://public.govdelivery.com/accounts/WADOT/subscriber/new?topic_id=WADOT_376"
                                  class="btn btn-primary parallelogram-link-sm mt-2" target="_blank"
                                  >Rest of the West News sign-up</a
                                ></span>
                                <p>Weekly updates focusing on SR 520 construction activities, effects and public meetings in Seattle, from Lake Washington to I-5.</p>
                              </p>
                            </ul>
                            
                          </div>
                          <p class="contact-bottom-text">
                            <em>Note: The Washington State Department of Transportation 
                            is a public agency and is subject to the State of Washington's Public Records Act 
                            (RCW 42.56). Therefore, public comments and questions may be made available to anyone 
                            requestng them for non-commercial purposes.</em>
                          </p>
                    
                        </div>
                 
                </div>
                <!-- sidebar -->

                  <!-- <div class="col-lg-3">
                            <div style="margin-left: 25px;">
                
                             <ul id="sidebarList" class="sidebarList">
                              <% closures.forEach(closure => { %>
                            <li class="closure-item">
                                <span class="icon-box" style="width: 25px; height: 25px;"><img src="https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png" class="iconimg"></span>
                                <a href="/projects/<%= closure._id %>" class="closure-link"><%= closure.activityName %></a>
                            </li>
                        <% }); %>
                      </ul> 
                          <br>
                      </div>
                    </div>  -->
                    
                      </div>                      
                </div>
             
        </main>
        <%- include('partials/horizontal-cards') %>

<!-- ## Start footer ###  -->
<%- include('partials/footer') %>
 

<!-- ### End footer ### -->  

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

<!-- <script
  type="text/javascript">window.NREUM || (NREUM = {}); NREUM.info = {"beacon": "bam.nr-data.net", "licenseKey": "NRJS-a8107692ea83444c1a2", "applicationID": "858811128", "transactionName": "NVQHN0UEXhJUBkxQWgweJABDDF8PGiFKTEUDXTkNWAFVPXYKVk1HDV0JBkU5fg5RAG5QUBVyCg1DF18NWQBKFAsUWAAU", "queueTime": 0, "applicationTime": 477, "atts": "GRMEQQ0eTRw=", "errorBeacon": "bam.nr-data.net", "agent": ""}</script> -->

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
  

    <!-- scripts to get the closures -->
    <script>

      fetch('/latest-closures')
          .then(response => response.json())
          .then(closures => {
              const sidebarList = document.getElementById('sidebarList');
      
              closures.forEach(closure => {
                  const listItem = document.createElement('li');
                  const link = document.createElement('a');
                  link.href = `/projects/${closure._id}`;
                  link.innerText = closure.activityName;
                  listItem.appendChild(link);
                  sidebarList.appendChild(listItem);
              });
          })
          .catch(error => console.error('Error fetching latest closures:', error));
  </script>
  


  </body>
  
  </html>