<div class="accordion" id="closureAccordion">
    <% projects.forEach((project, index) => { %>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%=index %>">
                <button class="accordion-button fw-600" type="button" style="font-size: 18px; line-height: 30px; font-weight:500;" data-bs-toggle="collapse" data-bs-target="#collapse<%=index %>" aria-expanded="true" aria-controls="collapse<%=index %>">
                    <%=project.activityName %>
                </button>
            </h2>
            <div id="collapse<%=index %>" class="accordion-collapse collapse" aria-labelledby="heading<%=index %>" data-bs-parent="#closureAccordion">
                <div class="accordion-body" style="font-size: 18px;">
                    <form action="/updateProject" method="post">
                        <!-- Your other fields go here like Activity Name, Start Date, etc... -->
                        <strong>Activity Type:</strong>
                        <div>
                            <% allActivityTypes.forEach(type => { %>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="<%=type %>" <% if (project.activityType && project.activityType.includes(type)) { %>checked<% } %> id="activity_<%=type.replace(/ /g, '_') %>" name="activityType[]">
                                    <label class="form-check-label" for="activity_<%=type.replace(/ /g, '_') %>"><%=type %></label>
                                </div>
                            <% }); %>
                        </div>
                        <strong>Timing Features:</strong>
                        <div>
                            <% allTimingFeatures.forEach(feature => { %>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="<%=feature %>" <% if (project.timingFeatures && project.timingFeatures.includes(feature)) { %>checked<% } %> id="timing_<%=feature.replace(/ /g, '_') %>" name="timingFeatures[]">
                                    <label class="form-check-label" for="timing_<%=feature.replace(/ /g, '_') %>"><%=feature %></label>
                                </div>
                            <% }); %>
                        </div>
                        <strong>Impact Type:</strong>
                        <div>
                            <% allImpactTypes.forEach(impact => { %>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="<%=impact %>" <% if (project.impactType && project.impactType.includes(impact)) { %>checked<% } %> id="impact_<%=impact.replace(/ /g, '_') %>" name="impactType[]">
                                    <label class="form-check-label" for="impact_<%=impact.replace(/ /g, '_') %>"><%=impact %></label>
                                </div>
                            <% }); %>
                        </div>
                        <!-- ... rest of the fields ... -->
                        <button class="btn btn-md btn-secondary edit-btn" data-id="<%=project._id %>">Edit</button>
                        <button class="btn btn-md btn-danger delete-btn" data-id="<%=project._id %>">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    <% }); %>
</div>
