<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
<!-- 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-970887-21"></script>
  <script>window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments)}; gtag("js", new Date()); gtag("set", "developer_id.dMDhkMT", true); gtag("config", "UA-970887-21", {"groups": "default", "anonymize_ip": true, "page_placeholder": "PLACEHOLDER_page_path"});</script> -->
  <link rel="canonical" href="#" />
  <meta name="description"
    content="The go-to source for information on SR 520 construction and closures." />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="img/dot.ico" type="image/vnd.microsoft.icon" />
  
  <title>SR 520 Construction Corner | Home</title>

  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        
    <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&amp;display=swap" />
    <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" />
    
    <link rel="stylesheet" media="all" href="/css/stylesheet-override2.css" />

    <!-- ###  mapping libraries end -- keep this order  #### -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" crossorigin="anonymous"></script>

    <link
      rel="stylesheet"
      href="https://kit.fontawesome.com/56475f5c73.css"
      crossorigin="anonymous"
    />
    <!-- <script>
        $(document).ready(function() {
           $('.toggle-icon').click(function() {
               $('form').toggle(); // Toggles visibility of the form

               // Switches the icon when the form is visible/invisible
               if ($('form').is(':visible')) {
                   $('.toggle-icon i').removeClass('fa-filter').addClass('fa-times');
               } else {
                   $('.toggle-icon i').removeClass('fa-times').addClass('fa-filter');
               }
           });
       });
</script> -->

<style>
  /* For alert banner */
  #alert-banner-top .container-fluid {
    width: 100vw;
    padding-top: 0.8em;
    padding-bottom: 1.2em;
    z-index: -1;
}

.orange-banner {
    background-color: #ffb500;
    width: 100vw;
    min-height: max-content;
    justify-content: center;
}

.orange-banner h2 {
    margin-left: 5%;
    margin-right: 5%;
    /* width: 100%; */
    font-size: 1.4em;
    line-height: 2.8rem;
    font-weight: 700;
    margin-top: 1.5rem;
}
.orange-banner p {
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 769px) {
    .orange-banner h2,
    .orange-banner p  {
        margin-left: 15px;
        margin-right: 15px;
    }
}


/* For the main container */
.container4 {
    padding-left: 5%;
    padding-right: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blockhead {
    display: block;
    margin-left: 3%;
}

.wdot-dkgreen {
    font-weight: bold;
}

.col-lg-9.col-md-12.col-sm-12 {
    display: block;
}

.togglerow {
    justify-content: space-between;
}

.mapcontainer {
    width: 100%;
    overflow: hidden;
}

#map1 {
    display: block;
    height: 775px;
    min-width: 101%;
    max-width: 106%;
}

#map2 {
    display: none;
}

#map2 p {
    font-size: 18px;
    font-weight: 400;
}

.col-lg-3.vanishing.pt-5.mt-5 div {
    margin-left: 25px;
}

.text-left.wdot-dkgreen {
    font-weight: bold;
    font-size: 2rem;
}

.closure-item {
    list-style-type: none;
}

.icon-box img.icon-img {
    display: inline-block;
}

/* Hide by default, you might want to display it based on your logic */
.closure-item[style="display: none;"] {
    display: none;
}

#indexh2 {
  display: none;
}

.sidebar-wrapper {
  margin-top: 4.5em;
  margin-left: .8em;

}

.header-container, .nav-container {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.topnav2 {
    padding-right: 41px !important;
}

@media (max-width: 635px) {
  #indexh2 {
    display:block;
    padding-bottom: 15px;
  }
  .sidebar-wrapper {
    margin: 1.5em;
  }
  .blockhead {
    display: none !important;
  }
    .container4 {
        width: 100% !important;
        overflow: hidden;
    }
   .alert-header {
    font-size: 1.7rem !important;
    line-height: 2.2rem !important;
   }
   
   .togglerow {
    display: none;
   }

  #wholecontain .container-fluid .mapcontainer {
    min-width: 95vw;
    max-width: 96vw !important;
    width: 100% !important;
    /* margin: none !important;
    padding: none !important;
    overflow: hidden !important; */
   }

   .parallelogram-link.map-tab {
        padding: 8px 12px;       /* Reduced padding for smaller size */
        font-size: 1em;        /* Reduce font size a bit if necessary */
        margin-top: 8px;
        margin-left: 12px;        /* Adjust margins as needed */
    }
    .navicon {
        display: block;
        min-height: 26% !important;
        max-height: 25% !important;
        max-width: 25%;
        /* display: none !important; */
    }

    .vanishing520  {
        display: inline-block;
  font-size: 1.4em; font-weight: 600; color: #000;
  margin-top: -220px !important;
    }

    #vanishing520 {
      display: inline-block;
      font-size: 2.4rem !important;
      line-height: 2.5rem;
        min-width: 90vw;
      margin-left: 8%;  
      z-index: 2000;
    }
    .container4 {
        margin-left: 1px !important;
        margin-right: 1px !important;
    }
    #map-shrink {
        margin-left: 1px !important;
        margin-right: 1px !important;
        padding-left: 2px !important;
        padding-left: 2px !important;
    }
}

.card-body h3 {
    padding-top: 6px;
    padding-bottom: 5px;
}

.containernew {
    min-height: 329px !important;
}
</style>


</head>

<body>

  <a href="#main-content" class="sr-only">Skip to main content</a>
  <%- include('partials/header') %>

  <main id="main-content">
  
      <div id="alert-banner-top" class="container-fluid">
          <div class="row">
              <div class="orange-banner" aria-live="polite">
                  <% if (project?.bannerContent==='yes'){ %>
                      <h2 class="mt-4">ALERT: <%= project.activityName %></h2>
                      <p><a href="/projects/<%=project.slug %>" aria-label="View details for <%= project.activityName %>">View details</a></p>
                  <% } else {
                      console.log("No banner item")
                  } %>
                  <!-- <% if (project) { %>
                  
                        <h2 class="mt-3 alert-header">ALERT: <%= project.activityName %></h2>
                        <p style="font-size: 1.8rem"><a href="/projects/<%= project._id %>" aria-label="View details for <%= project.activityName %>">View details</a></p>
                    </div>
                <% } %> -->
              </div>
          </div>
      </div>
      <section id="map-shrink" class="container4">
          <div id="wholecontain" class="container-fluid">
              <div class="row">
                  <div class="construction-info">
                      <h1 class="wdot-dkgreen">SR 520 Construction Corner</h1>
                      <p class="construction-subtitle"><strong>The go-to source for information on SR 520 construction and closures.</strong></p>
                      <p>Want to know about current or upcoming SR 520 construction closures and activities? You’ve come to the right place. Use the interactive map below to filter by date range, location, and closure type to find detailed information as it is available.</p>
                  </div>
              </div>
              <div id="construction-map">
                  <div class="row">
                      <div class="col-lg-9 col-md-8 col-sm-12 col-xsm-12">
                        <h2 id="indexh2" class="wdot-dkgreen">Construction map</h2>
                          <div class="togglerow">
                              <button id="map1Button" class="parallelogram-link map-tab" role="tab">Construction map</button>
                              <a href="https://wsdot.com/Travel/Real-time/Map/?layers=traffic-flow%2Calert&base=wsdot&extent=-122.58508585031451%2C47.50939388657843%2C-121.92590616281541%2C47.701521318421136&fromLink=true" id="map2Button-new" class="parallelogram-link" style="padding-left: 14px; padding-right: 14px; font-size: 18px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;"] role="link" target="_blank">WSDOT Travel Map</a>
                          </div>
                          <div class="mapcontainer">
                              <div id="map1">
                                  <%- include('partials/_mapPartial.ejs') %>



                              </div>
                              <!-- <div id="map2" class="d-none">
                                  <iframe title="WSDOT Travel Map" src="https://wsdot.com/Travel/Real-time/Map/?featuretype=camera&featureid=9648"  width="100%"  height="775px"></iframe>
                              </div> -->

                                                     </div>
                          <p><em>Note: This tool is presented for planning purposes only. Construction work is dependent on weather and other factors. Activities are subject to change. </em></p>
                      </div>
                      <aside class="col-lg-3 col-md-4 col-sm-12">
                          <div class="sidebar-wrapper">
                            <%
                                getIconUrl = function(type) {
                                    if (type === 'trail') {
                                        return 'https://sr520construction.blob.core.windows.net/520-uploads/trail_closure.png';
                                    } else if (type === 'highImpact') {
                                        return 'https://sr520construction.blob.core.windows.net/520-uploads/high_impact_construction.png';
                                    } else {
                                        return 'https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png';
                                    }
                                }
                            %>
                             
                                  <% if (typeof currentClosures !=='undefined' && currentClosures){ %>
                                    <h2 class="text-left wdot-dkgreen">Closures today</h2>
                                    <ul>
                                      <% currentClosures.forEach(closure=>{ %>
                                          <li class="closure-item">
                                              <span class="icon-box">
                                                <% var iconUrl = getIconUrl(closure.activityType[0]); %>
                                                  <img src="<%= iconUrl %>" class="icon-img" alt="">
                                              </span>&nbsp;&nbsp;
                                              <a href="/projects/<%=closure.slug %>"><%=closure.activityName %></a>
                                          </li>
                                      <% }); %>
                                  <% } %>
                              </ul>
                         
                                  <% if (typeof upcomingClosures !=='undefined' && upcomingClosures && upcomingClosures.length >0){ %>
                                    <h2 class="text-left wdot-dkgreen">Upcoming closures</h2>
                                    <ul>
                                      <% upcomingClosures.forEach(closure=>{ %>
                                          <li class="closure-item">
                                              <span class="icon-box">
                                                <% var iconUrl = getIconUrl(closure.activityType[0]); %>
                                                  <img src="<%= iconUrl %>" class="icon-img" alt="">
                                              </span>&nbsp;&nbsp;
                                              <a href="/projects/<%=closure.slug %>"><%=closure.activityName %></a>
                                          </li>
                                      <% }); %>
                                  <% } else { %>
                                      <li class="closure-item" style="display: none;">No upcoming closures</li>
                                  <% } %>
                              </ul>
                          </div>
                      </aside>
                  </div>
              </div>
          </div>
      </section>
    </main>
  <%- include('partials/horizontal-cards') %>
  <%- include('partials/footer') %>
 

  <!-- <script>
    $(document).ready(function() {
       $('.toggle-icon').click(function() {
           $('form').toggle(); // Toggles visibility of the form

           // Switches the icon when the form is visible/invisible
           if ($('form').is(':visible')) {
               $('.toggle-icon i').removeClass('fa-filter').addClass('fa-times');
           } else {
               $('.toggle-icon i').removeClass('fa-times').addClass('fa-filter');
           }
       });
   });
</script> -->




  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script> -->


    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8" defer></script>
   <!-- ### Map toggle scripts -->
   <!-- <script> 
    const map1Button = document.getElementById('map1Button');
    const map2Button = document.getElementById('map2Button');
    const map1 = document.getElementById('map1');
    const map2 = document.getElementById('map2');
    
    map1Button.addEventListener('click', function() {
        map1.classList.remove('d-none');
        map1.classList.add('d-block');
        map2.classList.remove('d-block');
        map2.classList.add('d-none');
    });
    
    map2Button.addEventListener('click', function() {
        map1.classList.remove('d-block');
        map1.classList.add('d-none');
        map2.classList.remove('d-none');
        map2.classList.add('d-block');
      });

        </script> -->


        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>