<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4VJ7RQS01"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-D4VJ7RQS01');
  </script>  

<meta charset="utf-8" />
<link rel="canonical" href="#" />
  <meta name="description"
    content="The go-to source for information on SR 520 construction and closures." />

  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="icon" href="favicon.ico" /> -->
  <link rel="icon" href="img/dot.ico" type="image/vnd.microsoft.icon" />
  <!-- <script src="/sites/default/files/google_tag/gtm_kjkscvk/google_tag.script.js?rtoq0t" defer></script> -->

  <title>SR 520 Construction Corner | WSDOT</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    type="text/css" />


  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" />
  <link rel="stylesheet" media="all" href="/css/styles3.css" />
  <link rel="stylesheet" media="all" href="/css/stylesheet-override2.css" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" />

 
  <script src="https://kit.fontawesome.com/da8d22a218.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <!-- Google Maps JavaScript API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUt0Sdti_Aderhux8JNiFR-6ClvNIb7Gk" defer></script>
  <script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
<style>
 .navbar a {
  text-decoration: none !important;
 }
 .sidebarList {
  list-style-type: none;
  padding-left: 0;
  margin-left: 10px;
  max-width: 368px;
 }
 .sidebarList li .icon-box {
    display: block;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    transform: skew(10deg);
    margin-right: 6px;
 }
 .sidebarList li .icon-img {
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 1px;
}
</style>
</head>

  <body>

    <%- include('partials/header') %> 

    <!-- #### END NAV section ##### --> 

        <main>
           <div class="container4" style="padding-left: 5%;  margin-top: 20px; margin-bottom: 20px;">         
               <div class="container-fluid">
                  <div class="row"> 
                    <div class="blockhead col-lg-9 col-md-12 col-sm-12" style="display: block;">
                        <div class="pl-sm-4 pl-lg-3">                            
                            <h1 class="wdot-dkgreen" style="font-size: 40px"><%= project.activityName %></h1>                          
                            <div class="border-bottom border-success"></div>
                        </div>
                     </div>
                  </div>
                </div>
                <div class="container-fluid">
                          <div class="row pl-sm-4 pl-lg-3 pt-5">
                            <div class="col-lg-9 col-sm-12">
                              <div class="project-content ">
                                <div class="<%= project.imageUrl && project.imageUrl.trim() !== '' ? 'content-left col-lg-6' : 'col-lg-12' %>">
                                    <p><strong>Date:</strong> <%= formatDate(project.startDate) %> to <%= formatDate(project.endDate) %> </p>
                                    <p><strong>Time:</strong> <%= project.time %></p>    

                                    <p><strong>Activity details:</strong></p>
                                    <ul style="list-style-type: none; font-size: 18px;">
                                      <% project.activityType.forEach(function(type) { %>
                                        <% var iconUrl; %>
                                        <% if (type.id === 'trail') { %>
                                          <% iconUrl = 'https://sr520construction.blob.core.windows.net/520-uploads/trail_closure.png'; %>
                                        <% } else if (type.id === 'highImpact') { %>
                                          <% iconUrl = 'https://sr520construction.blob.core.windows.net/520-uploads/high_impact_construction.png'; %>
                                        <% } else { %>
                                          <% iconUrl = 'https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png'; %>
                                        <% } %>
                                        <li>
                                          <img src="<%= iconUrl %>" alt="check mark icon" style="height: 25px; width: 25px;"> 
                                          <%= type.message %>
                                        </li>
                                        <% }); %>
                                      </ul>
                            
                        
                                    <ul style="list-style-type: none; font-size: 18px;">
                                        <% project.timingFeatures.forEach(function(feature) { %>
                                            <li>
                                                <img src="https://sr520construction.blob.core.windows.net/520-uploads/checked_mark.png" alt="check mark icon" style="height: 25px; width: 25px;"> 
                                                <%= feature.message %>
                                            </li>
                                        <% }); %>
                                    </ul>
                                    
                                    <p><strong>Impact type:</strong></p>
                                    <ul style="list-style-type: none; font-size: 18px;">
                                        <% project.impactType.forEach(function(type) { %>
                                            <li>
                                                <img src="https://sr520construction.blob.core.windows.net/520-uploads/checked_mark.png" alt="check mark icon" style="height: 25px; width: 25px;"> 
                                                <%= type.message %>
                                            </li>
                                        <% }); %>
                                    </ul>
                            
                                    <div class="mr-3 pt-3">
                                        <p><strong>Description: </strong><%= project.description ? project.description : 'Description not available' %></p>
                                        <p><strong>Traffic:</strong> <%= project.trafficDescription %></p>
                                    </div>
                                </div>
                            
                                <% if (project.imageUrl && project.imageUrl.trim() !== '') { %>
                                    <div class="content-right col-lg-6">
                                        <figure>
                                            <img id="showDialog" class="img-fluid w-100" src="<%= project.imageUrl %>" alt="<%= project.imageAltText || '' %>" />
                                            <figcaption><em>Click on image to expand</em></figcaption>
                                        </figure>
                                    </div>
                                <% } %>
                            
                            </div>
                            

                                <!-- ### Photo Lightbox ###  -->
                                <dialog id="light-box">
                                  <figure>
                                    <img class="lightbox-img" src="<%= project.imageUrl %>" alt="<%= project.imageAltText %>" >
                                
                                   </figure>
                                    <button id="close-btn">Close</button>                                

                                </dialog>      
                                <div>
                                  <p class="pt-2"><strong>Contact Info</strong></p>
                                  <p>
                                    <strong>Email:</strong> <a href="mailto:sr520bridge@wsdot.wa.gov">sr520bridge@wsdot.wa.gov</a> 
                                    <br>
                                    <strong><%= project.contact.id === 'general' ? 'SR 520 Program information line' : '24-hour construction hotline' %>:</strong>  
                                    <%= project.contact.message %>
                                  </p>
                                </div>
                                <div class="greenborder" style="display: flex;"> 
                                  <div id="map" width: 100%;></div>
                                </div>
                                <p class="mt-4"><em>Note: This tool is presented for planning purposes only. Construction is inherently dependent on weather and other factors, and activities are subject to change.</em></p>
                          </div>
                

                            <!-- sidebar start -->
                            <div class="col-lg-3">
                              <!-- Card 1 -->
                                <div class="closure-sidebar">                         
                                    <h2 id="currentLabel" class="wdot-dkgreen ml-3" style="visibility:hidden;"><strong>Closures today</strong></h2><br>
                                    <ul id="current" class="sidebarList"></ul> 
                                    <h2 id="upcomingLabel" class="wdot-dkgreen ml-3" style="visibility:hidden;"><strong>Upcoming closures</strong></h2><br>
                                    <ul id="upcoming" class="sidebarList"></ul>                                                     
                                    <br>
                               </div>                                        
                             </div>
                             <!-- sidebar end -->                                                
                          </div>   

                        <div class="mt-5 mt-lg-0">
                          <!-- <div>
                            <p class="pt-2"><strong>Contact Info</strong></p>
                            <p><strong>Email:</strong> <a href="mailto:sr520bridge@wsdot.wa.gov">sr520bridge@wsdot.wa.gov</a> <br><strong>SR 520 Program information line:</strong>  <%= project.contact.message %></p>
                                                          
                        </div> -->
                     </div>
                <br>
            </div>
          </main>
  
<!-- ## Start footer ###  -->

<%- include('partials/footer') %>

<!-- ### End footer ### -->  
    <!-- scripts to get the closures -->
    <script>
      const getIcon = (closure) => {
        const activityType = closure.activityType[0];
        if (activityType === 'trail') {
            return 'https://sr520construction.blob.core.windows.net/520-uploads/trail_closure.png';
        } else if (activityType === 'highImpact') {
            return 'https://sr520construction.blob.core.windows.net/520-uploads/high_impact_construction.png';
        } else {
            return 'https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png';
        }
      };
      const currentList = document.getElementById('current');
      const currentLabel = document.getElementById('currentLabel');
      const upcomingList = document.getElementById('upcoming');
      const upcomingLabel = document.getElementById('upcomingLabel');
      fetch('/api/projects/currentAndUpcoming')
      .then(response => response.json())
      .then(({ currentClosures, upcomingClosures }) => {
        // I apologize for this code
          currentClosures.forEach((closure) => {
              const icon = getIcon(closure);
              const listItem = document.createElement('li');
              const iconBox = document.createElement('span');
							iconBox.classList.add('icon-box');
              const iconImg = document.createElement('img');
              iconImg.src = icon;
              iconImg.classList.add('icon-img');
              iconBox.appendChild(iconImg);
              listItem.appendChild(iconBox);
              listItem.classList.add('closure-item');
              const link = document.createElement('a');
              link.href = `/projects/${closure.slug}`;
              link.innerText = closure.activityName;
              listItem.appendChild(link);
              currentList.appendChild(listItem);
          });
          if (currentClosures.length > 0) {
              currentLabel.style.visibility = 'visible';
          }
          upcomingClosures.forEach((closure) => {
              const icon = getIcon(closure);
              const listItem = document.createElement('li');
              const iconBox = document.createElement('span');
              iconBox.classList.add('icon-box');
              const iconImg = document.createElement('img');
              iconImg.src = icon;
              iconImg.classList.add('icon-img');
              iconBox.appendChild(iconImg);
              listItem.appendChild(iconBox);
              listItem.classList.add('closure-item');
              const link = document.createElement('a');
              link.href = `/projects/${closure.slug}`;
              link.innerText = closure.activityName;
              listItem.appendChild(link);
              upcomingList.appendChild(listItem);
          });
          if (upcomingClosures.length > 0) {
              upcomingLabel.style.visibility = 'visible';
          }
      })
      .catch(error => console.error('Error fetching latest closures:', error));
  </script>

<script>
  // Create the Leaflet map
  const map = L.map('map').setView([47.6407, -122.2971], 8);

  // Add Google Map layer to Leaflet map
  L.gridLayer.googleMutant({
      type: 'roadmap',
      maxZoom: 17,
      apiKey: 'AIzaSyCUt0Sdti_Aderhux8JNiFR-6ClvNIb7Gk'
  }).addTo(map);

  // Define activity icons
    const activityIcons = {
        "fullHighway": "https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png",
        "partialHighway": "https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png",
        "streetAndLane": "https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png",
        "ramp": "https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png",
        "highImpact": "https://sr520construction.blob.core.windows.net/520-uploads/high_impact_construction.png",
        "trail": "https://sr520construction.blob.core.windows.net/520-uploads/trail_closure.png"
    };

  // Define default styling values
  const defaultColor = '#f4661a';
  const defaultWidth = 8;

  function fetchMapDataForProject(projectId) {
    const apiUrl = `/api/projects/${projectId}/mapData`;
    fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
            if (!data.mapData || typeof data.mapData !== 'string') {
                console.warn('Map data is missing or invalid');
                return;
            }
            let geoJSONData = null;
            try {
                geoJSONData = JSON.parse(data.mapData);
            } catch (e) {
                console.warn('Failed to parse GeoJSON:', e);
                return;
            }
            if (!geoJSONData) {
                console.warn('GeoJSON data is missing or invalid.');
                return;
            }
            const geoLayer = L.geoJSON(geoJSONData, {
                style: function (feature) {
                    return {
                        color: feature.properties.color || defaultColor,
                        weight: feature.properties.width || defaultWidth
                    };
                },
                pointToLayer: function (feature, latlng) {
                    const iconUrl = activityIcons[data?.activityType[0]] || "https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png"; 
                    const customIcon = L.icon({
                        iconUrl: iconUrl,
                        iconSize: [26, 26]
                    });
                    return L.marker(latlng, { icon: customIcon });
                }
              }).addTo(map);
            // Adjust the map view to fit the bounds of the geoJSON data
            map.fitBounds(geoLayer.getBounds());
        })
        .catch(error => console.error('Error fetching map data:', error));
  }
  // Extract the projectId
  const projectId = '<%= project.projectId %>';

  if (projectId) {
      fetchMapDataForProject(projectId);
  } else {
      console.error('Could not derive slug from the URL.');
  }
</script>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script src="/js/lightbox.js"></script>
  
  </body>
  
  </html>