<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />

  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-970887-21"></script> -->
  <script>window.dataLayer = window.dataLayer || []; function gtag() {dataLayer.push(arguments)}; gtag("js", new Date()); gtag("set", "developer_id.dMDhkMT", true); gtag("config", "UA-970887-21", {"groups": "default", "anonymize_ip": true, "page_placeholder": "PLACEHOLDER_page_path"});</script>
  <link rel="canonical" href="#" />
  <meta name="description"
    content="View current major projects, which are investments we make with local partners to address safety, congestion, mobility for all users and/or fish passage responsibilities." />

  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="icon" href="favicon.ico" /> -->
  <link rel="icon" href="img/dot.ico" type="image/vnd.microsoft.icon" />
  <!-- <script src="/sites/default/files/google_tag/gtm_kjkscvk/google_tag.script.js?rtoq0t" defer></script> -->

  <title>SR 520 Construction Corner | WSDOT</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    type="text/css" />


  <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" />
  <link rel="stylesheet" media="all" href="/css/styles3.css" />
  <link rel="stylesheet" media="all" href="/css/stylesheet-override2.css" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&amp;display=swap" />
  <link rel="stylesheet" media="all"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" />

 
  <script src="https://kit.fontawesome.com/da8d22a218.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css" />

  <script src="https://unpkg.com/leaflet@latest/dist/leaflet.js"></script>
  <!-- Google Maps JavaScript API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUt0Sdti_Aderhux8JNiFR-6ClvNIb7Gk" defer></script>
  <script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
<style>
 .navbar a {
  text-decoration: none !important;
 }
</style>
</head>

  <body>

    <%- include('partials/header') %> 

    <!-- #### END NAV section ##### --> 

        <main>
           <div class="container4" style="padding-left: 5%;  margin-top: 20px; margin-bottom: 20px;">         
               <div class="container-fluid">
                  <div class="row"> 
                    <div class="blockhead col-lg-9 col-md-12 col-sm-12" style="display: block;">
                        <div class="pl-sm-4 pl-lg-3">                            
                            <h1 class="wdot-dkgreen" style="font-size: 40px"><%= project.activityName %></h1>                          
                            <div class="border-bottom border-success"></div>
                        </div>
                     </div>
                  </div>
                </div>
                <div class="container-fluid">
                          <div class="row pl-sm-4 pl-lg-3 pt-5">
                            <div class="col-lg-9 col-sm-12">
                              <div class="project-content ">
                                <div class="content-left col-lg-6">
                                <p><strong>Date:</strong> <%= formatDate(project.startDate) %> to <%= formatDate(project.endDate) %> </p>
                                <p><strong>Time:</strong> <%= project.time %></p>    
                                
                                <p><strong>Activity Details:</strong></p>
                                <ul style="list-style-type: none; font-size: 18px;">
                                    <% project.timingFeatures.forEach(function(feature) { %>
                                        <li>
                                            <img src="https://sr520construction.blob.core.windows.net/520-uploads/checked_mark.png" style="height: 25px; width: 25px;"> 
                                            <%= feature %> <!-- Use 'feature' here instead of 'project.timingFeatures' -->
                                        </li>
                                    <% }); %>
                                </ul>
                                
                                <ul style="list-style-type: none; font-size: 18px;">
                                    <% project.activityType.forEach(function(type) { %>
                                        <li>
                                            <img src="https://sr520construction.blob.core.windows.net/520-uploads/checked_mark.png" style="height: 25px; width: 25px;"> 
                                            <%= type %> <!-- Use 'type' here instead of 'project.activityType' -->
                                        </li>
                                    <% }); %>
                                </ul>                                
                              </div>
                              
                              <div class="content-right col-lg-6">
                                
                                  <% if (project.imageUrl && project.imageUrl.trim() !== '') { %>
                                    <figure>
                                    <img id="showDialog" class="img-fluid w-100" src="<%= project.imageUrl %>">
                                    <figcaption><em>Click on image to expand</em></figcaption>
                                  </figure>
                                <% } %>
                                                              
                              </div>
                              <div class="ml-4 mr-3 pt-3 ">
                                <p><strong>Description: </strong><%= project.description ? project.description : 'Description not available' %></p>
                                <p><strong>Traffic impact:</strong> <%= project.trafficDescription %></p>
                              </div>
                            </div> 

                                <!-- ### Photo Lightbox ###  -->
                                <dialog id="light-box">
                                  <figure>
                                    <img class="lightbox-img" src=<%= project.imageUrl %> >
                                
                                   </figure>
                                    <button id="close-btn">Close</button>                                

                                </dialog>                              
                          </div>
                

                            <!-- sidebar start -->
                            <div class="col-lg-3">
                              <!-- Card 1 -->
                                <div class="closure-sidebar">                         
                                    <h4 class="text-center wdot-dkgreen ml-3"><strong>Current and upcoming closures</strong></h4><br>
                                    <ul id="sidebarList" class="sidebarList"></ul>                                                        
                                      <br>
                               </div>                                        
                             </div>
                             <!-- sidebar end -->                                                
                          </div>   

                        <div class="mt-5">
                         <div class="greenborder" style="display: flex;"> 
                                      <div id="map" width: 100%;></div>
                           </div>
                           <p class="mt-4"><em>Note: This tool is presented for planning purposes only. Construction is inherently dependent on weather and other factors, and activities are subject to change.</em></p>
                           <div class="mt-2">
                              <p class="pt-2"><strong>Contact Info:</strong></p>
                              <p><strong>Email:</strong> <a href="mailto:sr520bridge@wsdot.wa.gov">sr520bridge@wsdot.wa.gov</a> <br><strong>24-hour construction hotline:</strong>  <%= project.contact %></p>
                                                            
                          </div>
                          </div>
                     </div>
                <br>
            </div>
          </main>
  
<!-- ## Start footer ###  -->

<%- include('partials/footer') %>

<!-- ### End footer ### -->  
    <!-- scripts to get the closures -->
    <script>
      fetch('/latest-closures') // TODO: I think there are some issues with this endpoint
      .then(response => response.json())
      .then(closures => {
          const sidebarList = document.getElementById('sidebarList');
  
          closures.forEach(closure => {
              const listItem = document.createElement('li');
              const link = document.createElement('a');
              link.href = `/projects/${closure.slug}`;
              link.innerText = closure.activityName;
              listItem.appendChild(link);
              sidebarList.appendChild(listItem);
          });
      })
      .catch(error => console.error('Error fetching latest closures:', error));
  </script>

<script>
  // Create the Leaflet map
  const map = L.map('map').setView([47.6407, -122.2971], 8);

  // Add Google Map layer to Leaflet map
  L.gridLayer.googleMutant({
      type: 'roadmap',
      maxZoom: 17,
      apiKey: 'AIzaSyCUt0Sdti_Aderhux8JNiFR-6ClvNIb7Gk'
  }).addTo(map);

  // Define activity icons
  const activityIcons = {
      "Full highway closure": "https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png",
      "Partial highway closure": "https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png",
      "Street and lane closure": "https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png",
      "Ramp closure": "https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png",
      "High-impact construction": "https://sr520construction.blob.core.windows.net/520-uploads/high_impact_construction.png",
      "Trail closure": "https://sr520construction.blob.core.windows.net/520-uploads/trail_closure.png"
  };

  // Define default styling values
  const defaultColor = '#f4661a';
  const defaultWidth = 8;

  function fetchMapDataForProject(projectId) {
    const apiUrl = `/api/projects/${projectId}/mapData`;
    fetch(apiUrl)
        .then(response => response.json())
        .then(data => {
            if (!data.mapData || typeof data.mapData !== 'string') {
                console.warn('Map data is missing or invalid');
                return;
            }
            let geoJSONData = null;
            try {
                geoJSONData = JSON.parse(data.mapData);
            } catch (e) {
                console.warn('Failed to parse GeoJSON:', e);
                return;
            }
            if (!geoJSONData) {
                console.warn('GeoJSON data is missing or invalid.');
                return;
            }
            const geoLayer = L.geoJSON(geoJSONData, {
                style: function (feature) {
                    return {
                        color: feature.properties.color || defaultColor,
                        weight: feature.properties.width || defaultWidth
                    };
                },
                pointToLayer: function (feature, latlng) {
                    // Try to get the icon URL based on the activity type
                    const iconUrl = activityIcons[feature.properties.activityType];
                    // If no icon URL is found, use a default one
                    const finalIconUrl = iconUrl || "https://sr520construction.blob.core.windows.net/520-uploads/whitedash-onred.png"; 
                    const customIcon = L.icon({
                        iconUrl: finalIconUrl,
                        iconSize: [26, 26]
                    });
                    return L.marker(latlng, { icon: customIcon });
                }
              }).addTo(map);
            // Adjust the map view to fit the bounds of the geoJSON data
            map.fitBounds(geoLayer.getBounds());
        })
        .catch(error => console.error('Error fetching map data:', error));
  }
  // Extract the projectId
  const projectId = '<%= project.projectId %>';

  if (projectId) {
      fetchMapDataForProject(projectId);
  } else {
      console.error('Could not derive slug from the URL.');
  }
</script>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script src="/js/lightbox.js"></script>
  
  </body>
  
  </html>